{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <h1 class="">{{ review.pk }}번 게시글</h1>
  <h5>작성자 :
    <a href="{% url 'accounts:user_detail' review.user.pk%}" class="text-decoration-none text-black">
      {{ review.user }}
    </a>
  </h5>
  <h3>{{ review.title }}
    ({{ review.movie_name }})</h3>
  <p>
    {% for star in stars%}
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill text-warning" viewbox="0 0 16 16">
          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
        </svg>
      </span>
    {% endfor %}
    {% for empty_star in empty_stars %}
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star text-warning" viewbox="0 0 16 16">
          <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
        </svg>
      </span>
    {% endfor %}
  </p>

  <p>{{ review.content }}</p>

  {% if review.user == request.user %}
    <div class="d-flex">
      <a class='btn btn-outline-secondary btn-sm' href="{% url 'reviews:update' review.pk %}">수정</a>
      <button type="button" class="btn btn-outline-danger btn-sm mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
        삭제
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">삭제하시겠습니까?</h1>
            </div>
            <div class="modal-footer">
              <form class='mx-2' action="{% url 'reviews:delete' review.pk %}" method="POST">
                {% csrf_token %}
                <input class='btn btn-outline-danger btn-sm' type="submit" value="네">
              </form>
              <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">아니오</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  {% endif %}

  <hr>
  {% for comment in comments %}
    <div class='d-flex justify-content-between'>
      <p>
        <a href="{% url 'accounts:user_detail' comment.user.pk%}" class="text-decoration-none text-black">
          {{ comment.user }}
        </a>
        |
        <span class='text-secondary' style='font-size:0.8rem;'>{{ comment.created_at }}</span></p>
      {% if comment.user == request.user %}
        <form action="{% url 'reviews:delete_comment' review.pk comment.pk %}" method="POST">
          {% csrf_token %}
          <input class='btn btn-outline-danger btn-sm' type="submit" value="삭제">
        </form>
      {% endif %}
    </div>
    <p>{{ comment.content }}</p>
    <hr>
  {% endfor %}
  <form action="{% url 'reviews:create_comment' review.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form %}

    <input class='btn btn-outline-dark' type="submit" value="OK">
  </form>
{% endblock content %}
