{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

  {% if request.resolver_match.url_name == 'signup' %}
    <h1>Signup</h1>
  {% else %}
    <h1>Update</h1>
  {% endif %}

  <form action="" method='POST'>
    {% csrf_token %}
    {% bootstrap_form form%}

    {% if request.resolver_match.url_name == 'signup' %}
      {% bootstrap_button 'signup' %}
    {% else %}
      {% bootstrap_button 'update' %}
      <a href="{% url 'accounts:change_password'%}">update_password</a>
      <a href="{% url 'accounts:delete'%}">delete account</a>

    {% endif %}
  </form>
{% endblock %}
